@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

p,
span {
  font-size: 1.7rem;
}

body {
  font-family: "Spartan", sans-serif;
  background-image: url("./images/bg-pattern-top-desktop.svg"), url("./images/bg-pattern-bottom-desktop.svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-color: white;
}

h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: #502050;
}

p {
  line-height: 2rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  gap: 20rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.o1 p {
  color: #937b92;
}

.o2 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 10rem;
          flex: 2 1 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.star-box {
  width: 75%;
  padding: 2rem 4rem;
  background-color: #f7f2f7;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.star-box img {
  margin-right: 0.3rem;
}

.star-box span {
  margin-left: 2rem;
  color: #502050;
  font-weight: bold;
}

.s2 {
  margin-left: 10rem;
}

.s3 {
  margin-left: 20rem;
}

.comments-section {
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.comments-section img {
  border-radius: 50%;
  margin: 2rem;
  margin-left: 0;
}

.comment {
  background-color: #502050;
  padding: 3rem;
  border-radius: 1rem;
  width: 30%;
}

.comment p {
  color: white;
  padding: 2rem;
  line-height: 2.5rem;
}

.person-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.person-name .name {
  color: white;
  margin-bottom: 0.5rem;
}

.person-name .position {
  color: #ee68a4;
}
/*# sourceMappingURL=style.css.map */