@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

p,
span {
  font-size: 1.8rem;
}

p {
  line-height: 2.7rem;
}

h1 {
  font-size: 5rem;
  color: #502050;
}

body {
  font-family: "Spartan", sans-serif;
  background-image: url("./images/bg-pattern-top-desktop.svg"), url("./images/bg-pattern-bottom-desktop.svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-size: 80rem, contain;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10rem;
}

.o1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
}

.o1 p {
  color: #502050;
  margin-top: 1rem;
}

.o2 {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 25rem;
          flex: 3 1 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.o2 .star-box {
  text-align: center;
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: #f7f2f7;
}

.o2 .star-box span {
  font-weight: bold;
  color: #502050;
}

.o2 .star-box img {
  margin-right: 1rem;
}

.s1 {
  margin-right: 15rem;
}

.s2 {
  margin-right: 7.5rem;
}

.comments-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 80%;
}

.comment {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  min-height: 30vh;
  padding: 4rem 3rem;
  background-color: #502050;
  border-radius: 1rem;
}

.comment p {
  color: white;
}

.comment1 {
  margin-left: 0;
}

.comment2 {
  margin-top: 3rem;
}

.comment3 {
  margin-top: 6rem;
}

.person-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.person-image img {
  border-radius: 50%;
  margin-right: 2rem;
  width: 15%;
}

.person-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.person-name .name {
  color: white;
  margin-bottom: 1rem;
}

.person-name .position {
  color: #ee68a4;
}

@media screen and (max-width: 1446px) {
  html {
    font-size: 60%;
  }
  .o2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container {
    margin: 10rem 0;
  }
  .overview {
    margin-bottom: 5rem;
  }
  .o1 {
    text-align: center;
  }
  .o1 p {
    margin: 2rem 0;
  }
  .comment {
    min-height: 45vh;
  }
  .comment2 {
    margin-top: 0;
  }
  .comment3 {
    margin-top: 0;
  }
  .o2 .star-box {
    width: 90%;
    margin-top: 2rem;
  }
  .s1 {
    margin-right: 0;
  }
  .s2 {
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */